# 1. STRINGS

In [2]:
#different ways of defining a string
String1 = 'Welcome to the Geeks World'
print("String with the use of Single Quotes: ") 
print(String1) 

String1 = "I'm a Geek"
print("\nString with the use of Double Quotes: ") 
print(String1) 
  
String1 = '''I'm a Geek and I live in a world of "Geeks"'''
print("\nString with the use of Triple Quotes: ") 
print(String1) 
  
String1 = '''Geeks 
            For 
            Life'''
print("\nCreating a multiline String: ") 
print(String1) 

String1 = """Geeks 
            For 
            Life"""
print("\nCreating a multiline String using \": ") 
print(String1)

String with the use of Single Quotes:
Welcome to the Geeks World

String with the use of Double Quotes:
I'm a Geek

String with the use of Triple Quotes:
I'm a Geek and I live in a world of "Geeks"

Creating a multiline String:
Geeks
            For
            Life

Creating a multiline String using ":
Geeks
            For
            Life

### Accessing, updating and deleting characters of strings

In [4]:
String1 = "GeeksForGeeks"
print("Initial String: ") 
print(String1) 
  
# Printing First character 
print("\nFirst character of String is: ") 
print(String1[0]) 
  
# Printing Last character 
print("\nLast character of String is: ") 
print(String1[-1])

Initial String:
GeeksForGeeks

First character of String is:
G

Last character of String is:
s

In [20]:
String1 = "Hello, I'm a Geek"
print("Initial String: ") 
print(String1) 
  
# Updating a character  
# of the String 
String1[2] = 'p'
print("\nUpdating character at 2nd Index: ") 
print(String1)

Initial String:
Hello, I'm a Geek

TypeError: 'str' object does not support item assignment

In [3]:
String1 = "Hello, I'm a Geek"
print("Initial String: ") 
print(String1) 
  
# Deleting a character  
# of the String 
del String1[2]  
print("\nDeleting character at 2nd Index: ") 
print(String1)

Initial String:
Hello, I'm a Geek

TypeError: 'str' object doesn't support item deletion

### Updating and Deleting whole string

In [4]:
String1 = "Hello, I'm a Geek"
print("Initial String: ") 
print(String1) 
print(id(String1))
  
# Updating a String 
String1 = "Welcome to the Geek World"
print("\nUpdated String: ") 
print(String1) 
print(id(String1))

Initial String:
Hello, I'm a Geek
140480228436688

Updated String:
Welcome to the Geek World
140480229075424

In [5]:
String1 = "Hello, I'm a Geek"
print("Initial String: ") 
print(String1) 
  
# Deleting a String 
# with the use of del 
del String1  
print("\nDeleting entire String: done ") 
print(String1)

Initial String:
Hello, I'm a Geek

Deleting entire String: done

NameError: name 'String1' is not defined

### Slicing of Strings

In [8]:
#SLICING
"""
firt character is always inclusive
last character is always exclusive
"""

String1 = "GeeksForGeeks"
print("Initial String: ")  
print(String1) 
  
# Printing 3rd to 12th character 
print("\nSlicing characters from 3-12: ") 
print(String1[3:12]) 

print("\nSlicing characters from 3-20: exceeding limits") 
print(String1[3:20]) 
  
# Printing characters between  
# 3rd and 2nd last character 
print("\nSlicing characters between " +
    "3rd and 2nd last character: ") 
print(String1[3:-2]) 

#from 4th character till last
String ="123456789"
print("\nSlicing characters between " +
    "from 4th character till last: ") 
print(String[-6:]) 

#from 4th character excluding last
String ="123456789"
print("\nSlicing characters between " +
    "4th character excluding last: ") 
print(String[-6:-1]) 

#from 4th character till 8th character
String ="123456789"
print("\nSlicing characters between " +
    "4th character till 8th character: ") 
print(String[-6:8]) 

#from last character till 7th character in reverse order
String ="123456789"
print("\nfrom last character till 7th character in reverse order: ") 
print(String[-1:-4:-1]) 

#reverse a string
String ="123456789"
print("\nreverse a string: ") 
print(String[::-1]) 

#reverse a string
String ="123456789"
print("\ncharacters skipping one: ") 
print(String[::2])

Initial String:
GeeksForGeeks

Slicing characters from 3-12:
ksForGeek

Slicing characters from 3-20: exceeding limits
ksForGeeks

Slicing characters between 3rd and 2nd last character:
ksForGee

Slicing characters between from 4th character till last:
456789

Slicing characters between 4th character excluding last:
45678

Slicing characters between 4th character till 8th character:
45678

from last character till 7th character in reverse order:
987

reverse a string:
987654321

characters skipping one:
13579

### Escape sequence in strings

In [11]:
String1 = '''I'm a "Geek"'''
print("Initial String with use of Triple Quotes: ") 
print(String1) 
  
# Escaping Single Quote  
String1 = 'I\'m a "Geek"'
print("\nEscaping Single Quote: ") 
print(String1) 
  
# Escaping Double Quotes 
String1 = "I'm a \"Geek\""
print("\nEscaping Double Quotes: ") 
print(String1) 
  
# Printing Paths with the  
# use of Escape Sequences 
String1 = "C:\\Python\\Geeks\\"
print("\nEscaping Backslashes: ") 
print(String1)

Initial String with use of Triple Quotes:
I'm a "Geek"

Escaping Single Quote:
I'm a "Geek"

Escaping Double Quotes:
I'm a "Geek"

Escaping Backslashes:
C:\Python\Geeks\

To ignore the escape sequences in a String, r or R is used, this implies that the string is a raw string and escape sequences inside it are to be ignored.

In [30]:
String1 = "This is \x47\x65\x65\x6b\x73 in \x48\x45\x58"
print("\nPrinting in HEX with the use of Escape Sequences: ") 
print(String1) 
  
# Using raw String to  
# ignore Escape Sequences 
String1 = r"This is \x47\x65\x65\x6b\x73 in \x48\x45\x58"
print("\nPrinting Raw String in HEX Format: ") 
print(String1)

Printing in HEX with the use of Escape Sequences:
This is Geeks in HEX

Printing Raw String in HEX Format:
This is \x47\x65\x65\x6b\x73 in \x48\x45\x58

Printing Raw String in HEX Format:
This is Geeks in HEX

### Formatting of Strings

In [31]:
# Default order 
String1 = "{} {} {}".format('Geeks', 'For', 'Life') 
print("Print String in default order: ") 
print(String1) 
  
# Positional Formatting 
String1 = "{1} {0} {2}".format('Geeks', 'For', 'Life') 
print("\nPrint String in Positional order: ") 
print(String1) 
  
# Keyword Formatting 
String1 = "{l} {f} {g}".format(g = 'Geeks', f = 'For', l = 'Life') 
print("\nPrint String in order of Keywords: ") 
print(String1)

Print String in default order:
Geeks For Life

Print String in Positional order:
For Geeks Life

Print String in order of Keywords:
Life For Geeks

In [35]:
# Formatting of Integers 
String1 = "{0:b}".format(16) 
print("\nBinary representation of 16 is ") 
print(String1) 

String1 = "{0:o}".format(16) 
print("\nOctal representation of 16 is ") 
print(String1)

String1 = "{0:x}".format(16) 
print("\nHex representation of 16 is ") 
print(String1)
  
# Formatting of Floats 
String1 = "{0:e}".format(165.6458) 
print("\nExponent representation of 165.6458 is ") 
print(String1) 
  
# Rounding off Integers 
String1 = "{0:.2f}".format(1/6) 
print("\none-sixth is : ") 
print(String1)

Binary representation of 16 is
10000

Octal representation of 16 is
20

Hex representation of 16 is
10

Exponent representation of 165.6458 is
1.656458e+02

one-sixth is :
0.17

In [36]:
# String alignment 
String1 = "|{:<10}|{:^10}|{:>10}|".format('Geeks','for','Geeks') 
print("\nLeft, center and right alignment with Formatting: ") 
print(String1) 
  
# To demonstrate aligning of spaces  
String1 = "\n{0:^16} was founded in {1:<4}!".format("GeeksforGeeks", 2009) 
print(String1)

Left, center and right alignment with Formatting:
|Geeks     |   for    |     Geeks|

 GeeksforGeeks   was founded in 2009!

In [37]:
Integer1 = 12.3456789
print("Formatting in 3.2f format: ") 
print('The value of Integer1 is %3.2f' %Integer1) 
print("\nFormatting in 3.4f format: ") 
print('The value of Integer1 is %3.4f' %Integer1)

Formatting in 3.2f format:
The value of Integer1 is 12.35

Formatting in 3.4f format:
The value of Integer1 is 12.3457

### STRINGS constants

In [14]:
import string
print(string.ascii_letters)
print(string.ascii_lowercase)
print(string.ascii_uppercase)
print(string.digits)
print(string.hexdigits)
print(string.octdigits)
print(string.punctuation)
print(string.printable)
print(string.whitespace)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
0123456789
0123456789abcdefABCDEF
01234567
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

### String methods

In [56]:
x="bc123a"
x.capitalize() #Converts the first character to upper case

'Bc123a'

In [58]:
x="ABcd"
x.casefold() #Converts string into lower case

'abcd'

In [60]:
x="abcd"
x.center(10)#Returns a centered string

'   abcd   '

In [61]:
x="abcdaa"
x.count('a')#Returns the number of times a specified value occurs in a string

3

In [15]:
#Returns an encoded version of the string
txt = "My name is St√•le"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))
print(txt.encode(encoding="ascii",errors="strict"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

UnicodeEncodeError: 'ascii' codec can't encode character '\xe5' in position 13: ordinal not in range(128)

In [65]:
x="abcd"
x.endswith('d')#Returns true if the string ends with the specified value

True

In [1]:
x="abc\td"
print(x)
x.expandtabs()#Sets the tab size of the string

abc	d

'abc     d'

In [69]:
x="abcdad"
x.find('d')#Searches the string for a specified value and returns the position of where it was found

3

In [70]:
#Formats specified values in a string
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [71]:
x="abcdada"
x.index("da")#Searches the string for a specified value and returns the position of where it was found

3

In [72]:
x="abcd"
x.isalnum()#Returns True if all characters in the string are alphanumeric

True

In [73]:
x="abcd"
x.isalpha()#Returns True if all characters in the string are in the alphabet

True

In [74]:
x="abcd"
x.isdecimal()#Returns True if all characters in the string are decimals

False

In [75]:
x="123a"
x.isdigit()#Returns True if all characters in the string are digits

False

In [5]:
x="For"
x.isidentifier()#Returns True if the string is an identifier and it is not case-sensitive

True

In [80]:
x="123a"
x.islower()#Returns True if all characters in the string are lower case

True

In [81]:
x="123a"
x.isnumeric()#Returns True if all characters in the string are numeric

False

In [82]:
x="123a"
x.isprintable()#Returns True if all characters in the string are printable

True

In [83]:
x="123a"
x.isspace()#Returns True if all characters in the string are whitespaces

False

In [86]:
x="Ta U"
x.istitle()#Returns True if the string follows the rules of a title

True

In [6]:
x="123"
x.isupper()#Returns True if all characters in the string are upper case

False

In [88]:
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
#join()	Joins the elements of an iterable to the end of the string
print(x)

John#Peter#Vicky

In [91]:
x="123a"
x.ljust(10)#Returns a left justified version of the string

'123a      '

In [92]:
x="123aAAA"
x.lower()#Converts a string into lower case

'123aaaa'

In [93]:
x="   123a   "
x.lstrip()#Returns a left trim version of the string

'123a   '

In [94]:
x="   123a   "
x.rstrip()#Returns a right trim version of the string

'   123a'

In [95]:
x="   123a   "
x.strip()#Returns a trimmed version of the string

'123a'

In [96]:
txt = "I could eat bananas all day"
#Returns a tuple where the string is parted into three parts
x = txt.partition("bananas")
print(x)

('I could eat ', 'bananas', ' all day')

In [98]:
x="123a"
x.replace('a','b')#Returns a string where a specified value is replaced with a specified value

'123b'

In [99]:
txt = "Mi casa, su casa."
#rfind()	Searches the string for a specified value and returns the last position of where it was found
x = txt.rfind("casa")
x

12

In [100]:
txt = "banana"
#rjust()	Returns a right justified version of the string
x = txt.rjust(20)
print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [101]:
txt = "Hello, welcome to my world."
#rindex()	Searches the string for a specified value and returns the last position of where it was found
x = txt.rindex("e")
print(x)

13

In [102]:
txt = "I could eat bananas all day, bananas are my favorite fruit"
#rpartition()	Returns a tuple where the string is parted into three parts
x = txt.rpartition("bananas")
print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [103]:
txt = "apple, banana, cherry"
#rsplit()	Splits the string at the specified separator, and returns a list
x = txt.rsplit(", ")
print(x)

['apple', 'banana', 'cherry']

In [106]:
#split()	Splits the string at the specified separator, and returns a list
txt = "welcome to the jungle"
x = txt.split(' ',1) #i.e separator, number of splits
print(x)

['welcome', 'to the jungle']

In [107]:
txt = "Thank you for the music\nWelcome to the jungle"
#splitlines()	Splits the string at line breaks and returns a list
x = txt.splitlines()
print(x)

['Thank you for the music', 'Welcome to the jungle']

In [108]:
x="123a"
x.startswith('1')#Returns true if the string starts with the specified value

True

In [109]:
x="123aBacdAJIK"
x.swapcase()#Swaps cases, lower case becomes upper case and vice versa

'123AbACDajik'

In [110]:
x="this is normal"
x.title()#Converts the first character of each word to upper case

'This Is Normal'

In [111]:
x="this is normal"
x.upper()#Converts a string into upper case

'THIS IS NORMAL'

In [113]:
#zfill()	Fills the string with a specified number of 0 values at the beginning
a = "hello"
b = "welcome to the jungle"
c = "10.000"
print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000

### ord() and chr()

In [24]:
# Convert integer 65 to ASCII Character ('A')
y = chr(65)
print(type(y), y)
 
# Print A-Z
for i in range(65, 65+26):
    print(chr(i), end = " , ")

<class 'str'> A
A , B , C , D , E , F , G , H , I , J , K , L , M , N , O , P , Q , R , S , T , U , V , W , X , Y , Z ,

In [26]:
# The valid range for the argument is from 0 through 1,114,111 (0x10FFFF in Hexadecimal)
print(chr(-1))

ValueError: chr() arg not in range(0x110000)

In [30]:
# Convert ASCII Unicode Character 'A' to 65
y = ord('A')
print(type(y), y)
 
alphabet_list = string.ascii_letters
print(alphabet_list)
# Print 65-90
for i in alphabet_list:
    print(ord(i), end = " , ")

<class 'int'> 65
abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
97 , 98 , 99 , 100 , 101 , 102 , 103 , 104 , 105 , 106 , 107 , 108 , 109 , 110 , 111 , 112 , 113 , 114 , 115 , 116 , 117 , 118 , 119 , 120 , 121 , 122 , 65 , 66 , 67 , 68 , 69 , 70 , 71 , 72 , 73 , 74 , 75 , 76 , 77 , 78 , 79 , 80 , 81 , 82 , 83 , 84 , 85 , 86 , 87 , 88 , 89 , 90 ,

In [31]:
y = ord('Hi')

TypeError: ord() expected a character, but string of length 2 found

In [35]:
print(hex(64))

0x40

In [38]:
print(chr(0x40))
print(ord('\x40'))
print(int(0x40))

@
64
64

In [1]:
#https://www.geeksforgeeks.org/byte-objects-vs-string-python/

# 2. LISTS

In [198]:
# empty list
my_list = []
print(my_list)

# list of integers
my_list = [1, 2, 3]
print(my_list)

# list with mixed data types
my_list = [1, "Hello", 3.4]
print(my_list)

[]
[1, 2, 3]
[1, 'Hello', 3.4]

### Indexing And Slicing of lists

In [199]:
my_list = ['p', 'r', 'o', 'b', 'e']
print(my_list[0])

# Nested List
n_list = ["Happy", [2, 0, 1, 5]]

# Nested indexing
print(n_list[0][1])
print(n_list[1][3])

p
a
5

In [200]:
# Negative indexing in lists
my_list = ['p','r','o','b','e']

print(my_list[-1])
print(my_list[-5])

e
p

In [201]:
# List slicing in Python
my_list = ['p','r','o','g','r','a','m','i','z']

# elements 3rd to 5th
print(my_list[2:5])

# elements beginning to 4th
print(my_list[:-5])

# elements 6th to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

['o', 'g', 'r']
['p', 'r', 'o', 'g']
['a', 'm', 'i', 'z']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

### Updation of lists

In [202]:
# Correcting mistake values in a list
odd = [2, 4, 6, 8]

# change the 1st item    
odd[0] = 1            

print(odd)

# change 2nd to 4th items
odd[1:4] = [3, 5, 7]  

print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

In [17]:
# Appending and Extending lists in Python
odd = [1, 3, 5]

#append() takes just one argument
odd.append(7)

odd.append([12,13])

print(odd)

odd.extend([9, 11, 13])

print(odd)

[1, 3, 5, 7, [12, 13]]
[1, 3, 5, 7, [12, 13], 9, 11, 13]

In [206]:
# Concatenating and repeating lists
odd = [1, 3, 5]

print(odd + [9, 7, 5])

print(["re"] * 3)

[1, 3, 5, 9, 7, 5]
['re', 're', 're']

##### inserting at particular index

In [207]:
# Demonstration of list insert() method
odd = [1, 9]
odd.insert(1,3)

print(odd)

odd[2:2] = [5, 7]

print(odd)

[1, 3, 9]
[1, 3, 5, 7, 9]

#### Deleting elements from list
We can use remove() method to remove the given item or pop() method to remove an item at the given index.

The pop() method removes and returns the last item if the index is not provided. This helps us implement lists as stacks (first in, last out data structure).

We can also use the clear() method to empty a list.

In [208]:
# Deleting list items
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

# delete one item
del my_list[2]

print(my_list)

# delete multiple items
del my_list[1:5]

print(my_list)

# delete entire list
del my_list

# Error: List not defined
print(my_list)

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'm']

NameError: name 'my_list' is not defined

In [18]:
my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')

print(my_list)

#removes element from index 1
print(my_list.pop(1))

print(my_list)

print(my_list.pop())

print(my_list)

my_list.clear()
print(my_list)

['r', 'o', 'b', 'l', 'e', 'm']
o
['r', 'b', 'l', 'e', 'm']
m
['r', 'b', 'l', 'e']
[]

In [211]:
my_list = ['p','r','o','b','l','e','m']
my_list[2:4] = []
my_list

['p', 'r', 'l', 'e', 'm']

### Methods of lists
* append() - Add an element to the end of the list
* extend() - Add all elements of a list to the another list
* insert() - Insert an item at the defined index
* remove() - Removes an item from the list
* pop() - Removes and returns an element at the given index
* clear() - Removes all items from the list
* index() - Returns the index of the first matched item
* count() - Returns the count of the number of items passed as an argument
* sort() - Sort items in a list in ascending order
* reverse() - Reverse the order of items in the list
* copy() - Returns a shallow copy of the list

In [217]:
# Python list methods
my_list = [3, 8, 1, 6, 0, 8, 4]

print(my_list)

print(my_list.index(8))

print(my_list.count(8))

my_list.sort()

print(my_list)

my_list.reverse()

print(my_list)

mylist_c= my_list.copy()
print(mylist_c)

[3, 8, 1, 6, 0, 8, 4]
1
2
[0, 1, 3, 4, 6, 8, 8]
[8, 8, 6, 4, 3, 1, 0]
[8, 8, 6, 4, 3, 1, 0]

### List Comprehensions

In [213]:
pow2 = [2 ** x for x in range(10)]
print(pow2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [214]:
l = [x+y for x in ['Python ','C '] for y in ['Language','Programming']]
l

['Python Language', 'Python Programming', 'C Language', 'C Programming']

# 3. TUPLES

In [180]:
Tuple1 = () 
print("Initial empty Tuple: ") 
print (Tuple1) 
  
#Creatting a Tuple with the use of string 
Tuple1 = ('Geeks', 'For') 
print("\nTuple with the use of String: ") 
print(Tuple1) 
  
# Creating a Tuple with the use of list 
list1 = [1, 2, 4, 5, 6] 
print("\nTuple using List: ") 
print(tuple(list1)) 
  
#Creating a Tuple with the use of built-in function 
Tuple1 = tuple('Geeks') 
print("\nTuple with the use of function: ") 
print(Tuple1) 

#Creating a Tuple with Mixed Datatype 
Tuple1 = (5, 'Welcome', 7, 'Geeks') 
print("\nTuple with Mixed Datatypes: ") 
print(Tuple1) 
  
#Creating a Tuple with nested tuples 
Tuple1 = (0, 1, 2, 3) 
Tuple2 = ('python', 'geek') 
Tuple3 = (Tuple1, Tuple2) 
print("\nTuple with nested tuples: ") 
print(Tuple3) 
  
#Creating a Tuple with repetition 
Tuple1 = ('Geeks',) * 3
print("\nTuple with repetition: ") 
print(Tuple1) 
  
#Creating a Tuple with the use of loop 
Tuple1 = ('Geeks') 
n = 5
print("\nTuple with a loop") 
for i in range(int(n)): 
    Tuple1 = (Tuple1,) 
    print(Tuple1)

Initial empty Tuple:
()

Tuple with the use of String:
('Geeks', 'For')

Tuple using List:
(1, 2, 4, 5, 6)

Tuple with the use of function:
('G', 'e', 'e', 'k', 's')

Tuple with Mixed Datatypes:
(5, 'Welcome', 7, 'Geeks')

Tuple with nested tuples:
((0, 1, 2, 3), ('python', 'geek'))

Tuple with repetition:
('Geeks', 'Geeks', 'Geeks')

Tuple with a loop
('Geeks',)
(('Geeks',),)
((('Geeks',),),)
(((('Geeks',),),),)
((((('Geeks',),),),),)

In [192]:
my_tuple = ("hello")
print(type(my_tuple))  

# Creating a tuple having one element
my_tuple = ("hello",)
print(type(my_tuple)) 

# Parentheses is optional
my_tuple = "hello",
print(type(my_tuple))

<class 'str'>
<class 'tuple'>
<class 'tuple'>

### Accessing elements of tuples

In [187]:
Tuple1 = tuple("Geeks") 
print("\nFirst element of Tuple: ") 
print(Tuple1[1]) 
  
#Tuple unpacking 
Tuple1 = ("Geeks", "For", "Geeks") 
  
#This line unpack values of Tuple1 
a, b, c = Tuple1 
print("\nValues after unpacking: ") 
print(a) 
print(b) 
print(c) 

#unpacking multiples elements to one variable
a, *args = Tuple1 
print("\nValues after unpacking: ") 
print(a) 
print(args) 
print(type(args))

First element of Tuple:
e

Values after unpacking:
Geeks
For
Geeks

Values after unpacking:
Geeks
['For', 'Geeks']
<class 'list'>

In [189]:
Tuple1 = tuple('GEEKSFORGEEKS') 
  
# Removing First element 
print("Removal of First Element: ") 
print(Tuple1[1:]) 
  
# Reversing the Tuple  
print("\nTuple after sequence of Element is reversed: ") 
print(Tuple1[::-1]) 
  
# Printing elements of a Range 
print("\nPrinting elements between Range 4-9: ") 
print(Tuple1[4:9])

Removal of First Element:
('E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S')

Tuple after sequence of Element is reversed:
('S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G')

Printing elements between Range 4-9:
('S', 'F', 'O', 'R', 'G')

### Updation of tuples

In [188]:
Tuple1 = (0, 1, 2, 3) 
Tuple2 = ('Geeks', 'For', 'Geeks') 
  
Tuple3 = Tuple1 + Tuple2 
  
# Printing first Tuple 
print("Tuple 1: ") 
print(Tuple1) 
  
# Printing Second Tuple 
print("\nTuple2: ") 
print(Tuple2) 
  
# Printing Final Tuple 
print("\nTuples after Concatenaton: ") 
print(Tuple3)

Tuple 1:
(0, 1, 2, 3)

Tuple2:
('Geeks', 'For', 'Geeks')

Tuples after Concatenaton:
(0, 1, 2, 3, 'Geeks', 'For', 'Geeks')

In [194]:
# Changing tuple values
my_tuple = (4, 2, 3, [6, 5])

# However, item of mutable element can be changed
my_tuple[3][0] = 9 
print(my_tuple)

(4, 2, 3, [9, 5])

In [195]:
# deleting tuple
Tuple1 = (0, 1, 2, 3, 4) 
del Tuple1 
print("Successfully deleted tuple")
print(Tuple1)

Successfully deleted tuple

NameError: name 'Tuple1' is not defined

### Methods in Tuples
Python has two built-in methods that you can use on tuples.

In [196]:
my_tuple = ('a', 'p', 'p', 'l', 'e',)

print(my_tuple.count('p')) 
print(my_tuple.index('l'))

2
3

In [197]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

In [40]:
def functuple():
    return 1,2
type(functuple())

tuple

# 4. SETS

In [127]:
# Creating a Set with the use of a String 
set1 = set("GeeksForGeeks") 
print("\nSet with the use of String: ") 
print(set1) 
  
# Creating a Set with the use of Constructor (Using object to Store String) 
String = 'GeeksForGeeks'
set1 = set(String) 
print("\nSet with the use of an Object: " ) 
print(set1) 
  
# Creating a Set with the use of a List 
set1 = set(["Geeks", "For", "Geeks"]) 
print("\nSet with the use of List: ") 
print(set1)

Set with the use of String:
{'e', 'r', 'o', 'k', 'G', 'F', 's'}

Set with the use of an Object:
{'e', 'r', 'o', 'k', 'G', 'F', 's'}

Set with the use of List:
{'For', 'Geeks'}

In [130]:
#creating an empty set
set1 = set() 
print("Intial blank Set: ") 
print(type(set1))

a =  {*()} 
print(type(a))

Intial blank Set:
<class 'set'>
<class 'set'>

In [133]:
# Creating a Set with  a List of Numbers (Having duplicate values) 
set1 = set([1, 2, 4, 4, 3, 3, 3, 6, 5]) 
print("\nSet with the use of Numbers: ") 
print(set1) 
  
# Creating a Set with  a mixed type of values (Having numbers and strings) 
set1 = set([1, 2, 'Geeks', 4, 'For', 6, 'Geeks']) 
print("\nSet with the use of Mixed Values") 
print(set1)

Set with the use of Numbers:
{1, 2, 3, 4, 5, 6}

Set with the use of Mixed Values
{1, 2, 4, 6, 'For', 'Geeks'}

### adding elements to set
add() takes just one element or data-type i.e. list/tuple

In [136]:
# Creating a Set 
set1 = set() 
print("Intial blank Set: ") 
print(set1) 
  
# Adding element and tuple to the Set 
set1.add(8) 
set1.add(9) 
set1.add(4) 
set1.add((6,7)) 
print("\nSet after Addition of Three elements: ") 
print(set1) 
  
# Adding elements to the Set 
# using Iterator 
for i in range(1, 6): 
    set1.add(i) 
print("\nSet after Addition of elements from 1-5: ") 
print(set1)

Intial blank Set:
set()

Set after Addition of Three elements:
{8, 9, 4, (6, 7)}

Set after Addition of elements from 1-5:
{1, 2, 3, 4, (6, 7), 5, 8, 9}

###### use update() method to add multiple elements

In [139]:
set1 = set([ 4, 5, (6, 7)]) 
set1.update([10, 11]) 
set1.update((13, 12)) 
print("\nSet after Addition of elements using Update: ") 
print(set1)

Set after Addition of elements using Update:
{4, 5, (6, 7), 10, 11, 12, 13}

### Accessing elements of set

In [142]:
# Creating a set 
set1 = set(["Geeks", "For", "Geeks"]) 
print("\nInitial set") 
print(set1) 
  
# Accessing element using 
# for loop 
print("\nElements of set: ") 
for i in set1: 
    print(i, end=" ") 

print("\n\nUsing membership func")
print("Geeks" in set1)

Initial set
{'For', 'Geeks'}

Elements of set:
For Geeks

Using membership func
True

### Removing elements of set
Elements can be removed from the Set by using built-in remove() function but a KeyError arises if element doesn‚Äôt exist in the set. To remove elements from a set without KeyError, use discard(), if the element doesn‚Äôt exist in the set, it remains unchanged.

In [145]:
# Creating a Set 
set1 = set([1, 2, 3, 4, 5, 6,  
            7, 8, 9, 10, 11, 12]) 
print("Intial Set: ") 
print(set1) 
  
# Removing elements from Set 
# using Remove() method 
set1.remove(5) 
set1.remove(6) 
print("\nSet after Removal of two elements: ") 
print(set1) 
  
# Removing elements from Set 
# using Discard() method 
set1.discard(8) 
set1.discard(9) 
print("\nSet after Discarding two elements: ") 
print(set1) 
  
# Removing elements from Set 
# using iterator method 
for i in range(1, 5): 
    set1.remove(i) 
print("\nSet after Removing a range of elements: ") 
print(set1)

Intial Set:
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

Set after Removal of two elements:
{1, 2, 3, 4, 7, 8, 9, 10, 11, 12}

Set after Discarding two elements:
{1, 2, 3, 4, 7, 10, 11, 12}

Set after Removing a range of elements:
{7, 10, 11, 12}

Pop() function can also be used to remove and return an element from the set, but it removes only the last element of the set.

In [147]:
set1 = set([1, 2, 3, 4, 5, 6,  
            7, 8, 9, 10, 11, 12]) 
print("Intial Set: ") 
print(set1) 
  
# Removing element from the  set using the pop() method 
set1.pop() 
print("\nSet after popping an element: ") 
print(set1)

Intial Set:
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

Set after popping an element:
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [148]:
set1.clear() 
print("\nSet after clearing all the elements: ") 
print(set1)

Set after clearing all the elements:
set()

### Frozen Sets
Frozen set is just an immutable version of a Python set object. While elements of a set can be modified at any time, elements of the frozen set remain the same after creation.

Due to this, frozen sets can be used as keys in Dictionary or as elements of another set. But like sets, it is not ordered (the elements can be set at any index).

In [149]:
String = ('G', 'e', 'e', 'k', 's', 'F', 'o', 'r') 
  
Fset1 = frozenset(String) 
print("The FrozenSet is: ") 
print(Fset1) 
  
# To print Empty Frozen Set 
# No parameter is passed 
print("\nEmpty FrozenSet: ") 
print(frozenset())

The FrozenSet is:
frozenset({'e', 'r', 'o', 'k', 'G', 'F', 's'})

Empty FrozenSet:
frozenset()

In [150]:
# random dictionary
person = {"name": "John", "age": 23, "sex": "male"}

fSet = frozenset(person)
print('The frozen set is:', fSet)

The frozen set is: frozenset({'age', 'sex', 'name'})

In [152]:
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])

# copying a frozenset
C = A.copy()  
print(C)

# union
print(A.union(B))

# intersection
print(A.intersection(B))  

# difference
print(A.difference(B)) 

# symmetric_difference
print(A.symmetric_difference(B))

frozenset({1, 2, 3, 4})
frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2})
frozenset({1, 2, 5, 6})

### Operations on Sets

In [158]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A | B) #union
print(A & B) #intersection
print(A - B) #A diff B
print(B - A) #B diff A
print(A ^ B) #Set symmetric difference i.e. A|B - (A&B)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}

In [159]:
print(A.union(B))
print(A.intersection(B))
print(A.difference(B))
print(B.difference(A))
print(A.symmetric_difference(B))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}

In [165]:
A = {1,2,3}
B={1,2,3,4,5}
C = {4, 5}
print(A.isdisjoint(B))
print(A.isdisjoint(C))
print(A.issubset(B))
print(B.issubset(A))
print(A.issuperset(B))
print(B.issuperset(A))

False
True
True
False
False
True

In [176]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A-B)

# Modifies A and returns None 
A.difference_update(B) 
  
# Prints the modified set 
print (A)

{1, 2, 3}
{1, 2, 3}

In [177]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A&B)

# Modifies A and returns None 
A.intersection_update(B) 
  
# Prints the modified set 
print (A)

{4, 5}
{4, 5}

In [178]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A^B)

# Modifies A and returns None 
A.symmetric_difference_update(B) 
  
# Prints the modified set 
print (A)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

# 5. DICTIONARY

In [219]:
# empty dictionary
my_dict = {}
print(my_dict)

# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}
print(my_dict)

# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}
print(my_dict)

# using dict()
my_dict = dict({1:'apple', 2:'ball'})
print(my_dict)

# from sequence having each item as a pair
my_dict = dict([(1,'apple'), (2,'ball')])
print(my_dict)

{}
{1: 'apple', 2: 'ball'}
{'name': 'John', 1: [2, 4, 3]}
{1: 'apple', 2: 'ball'}
{1: 'apple', 2: 'ball'}

### Accessing elements from dictionary
While indexing is used with other data types to access values, a dictionary uses keys. Keys can be used either inside square brackets [] or with the get() method.

If we use the square brackets [], KeyError is raised in case a key is not found in the dictionary. On the other hand, the get() method returns None if the key is not found.

In [220]:
# get vs [] for retrieving elements
my_dict = {'name': 'Jack', 'age': 26}

print(my_dict['name'])

print(my_dict.get('age'))

print(my_dict.get('address'))

print(my_dict['address'])

Jack
26
None

KeyError: 'address'

In [223]:
# Creating a Dictionary 
Dict = {'Dict1': {1: 'Geeks'}, 
        'Dict2': {'Name': 'For'}} 
  
# Accessing element using key 
print(Dict)
print(Dict['Dict1']) 
print(Dict['Dict1'][1]) 
print(Dict['Dict2']['Name'])

{'Dict1': {1: 'Geeks'}, 'Dict2': {'Name': 'For'}}
{1: 'Geeks'}
Geeks
For

### Updating dictionary elements

In [221]:
# Changing and adding Dictionary Elements
my_dict = {'name': 'Jack', 'age': 26}

# update value
my_dict['age'] = 27

print(my_dict)

# add item
my_dict['address'] = 'Downtown'

print(my_dict)

{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

### Removing elements from Dictionary
We can remove a particular item in a dictionary by using the pop() method. This method removes an item with the provided key and returns the value.

The popitem() method can be used to remove and return an arbitrary (key, value) item pair from the dictionary. All the items can be removed at once, using the clear() method.

We can also use the del keyword to remove individual items or the entire dictionary itself.

In [19]:
# create a dictionary
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# remove a particular item, returns its value
print(squares.pop(4))
print(squares)

# remove an arbitrary item, return (key,value)
print(squares.popitem())
print(squares)

# remove all items
squares.clear()

print(squares)

del squares
print(squares)

16
{1: 1, 2: 4, 3: 9, 5: 25}
(5, 25)
{1: 1, 2: 4, 3: 9}
{}

NameError: name 'squares' is not defined

### Dictionary methods
1. fromkeys(seq,value) :- This method is used to declare a new dictionary from the sequence mentioned in its arguments. This function can also initialize the declared dictionary with ‚Äúvalue‚Äù argument.

2. update(dic) :- This function is used to update the dictionary to add other dictionary keys.

3. setdefault(key, def_value) :- This function also searches for a key and displays its value like get() but, it creates new key with def_value if key is not present.

4. values()	Returns a new object of the dictionary's values

In [228]:
dic1 = { 'Name' : 'Nandini', 'Age' : 19 } 
dic2 = { 'ID' : 2541997 } 
sequ = ('Name', 'Age', 'ID') 
  
# using update to add dic2 values in dic 1 
dic1.update(dic2) 
  
# printing updated dictionary values 
print ("The updated dictionary is : ") 
print (str(dic1)) 
  
# using fromkeys() to transform sequence into dictionary 
dict = dict.fromkeys(sequ,(5,3,4))
  
# printing new dictionary values 
print ("The new dictionary values are : ") 
print (str(dict))

The updated dictionary is :
{'Name': 'Nandini', 'Age': 19, 'ID': 2541997}
The new dictionary values are :
{'Name': (5, 3, 4), 'Age': (5, 3, 4), 'ID': (5, 3, 4)}

In [229]:
marks = {}.fromkeys(['Math', 'English', 'Science'], 0)
print(marks)

{'Math': 0, 'English': 0, 'Science': 0}

In [231]:
# Python code to demonstrate working of 
# setdefault() 
  
# Initializing dictionary 
dict = { 'Name' : 'Nandini', 'Age' : 19 } 
  
# using setdefault() to print a key value 
print ("The value associated with Age is : ",end="") 
print (dict.setdefault('ID', "No ID")) 
  
# printing dictionary values 
print ("The dictionary values are : ") 
print (str(dict))

The value associated with Age is : No ID
The dictionary values are :
{'Name': 'Nandini', 'Age': 19, 'ID': 'No ID'}

In [232]:
# random sales dictionary
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

print(sales.values())

dict_values([2, 3, 4])

### Handling missing keys in Python dictionaries
1. Use get() function that returns `None` when not found.
2. Use setdefault() to set values when not found returns default values.
3. Use defaultdict

In [233]:
import collections 
  
# sets default value 'Key Not found' to absent keys 
defd = collections.defaultdict(lambda : 'Key Not found') 
  
defd['a'] = 1
defd['b'] = 2
  
# printing value  
print ("The value associated with 'a' is : ",end="") 
print (defd['a']) 
  
# printing value associated with 'c' 
print ("The value associated with 'c' is : ",end="") 
print (defd['c'])

The value associated with 'a' is : 1
The value associated with 'c' is : Key Not found

### Dictionary Comprehension

In [234]:
# Dictionary Comprehension with if conditional
odd_squares = {x: x*x for x in range(11) if x % 2 == 1}

print(odd_squares)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

### Iterating through Dictionaries

In [235]:
a_dict = {'color': 'blue', 'fruit': 'apple', 'pet': 'dog'}
for key in a_dict:
     print(key)

color
fruit
pet

In [236]:
for key in a_dict:
     print(key, '->', a_dict[key])

color -> blue
fruit -> apple
pet -> dog

In [239]:
a_dict = {'color': 'blue', 'fruit': 'apple', 'pet': 'dog'}
d_items = a_dict.items()
d_items

dict_items([('color', 'blue'), ('fruit', 'apple'), ('pet', 'dog')])

In [245]:
for item in a_dict.items():
    print(item)
type(item)

('color', 'blue')
('fruit', 'apple')
('pet', 'dog')

tuple

In [246]:
for key, value in a_dict.items():
    print(key, '->', value)

color -> blue
fruit -> apple
pet -> dog

In [247]:
a_dict = {'color': 'blue', 'fruit': 'apple', 'pet': 'dog'}
keys = a_dict.keys()
keys

dict_keys(['color', 'fruit', 'pet'])

In [248]:
for key in a_dict.keys():
    print(key, '->', a_dict[key])

color -> blue
fruit -> apple
pet -> dog

In [249]:
a_dict = {'color': 'blue', 'fruit': 'apple', 'pet': 'dog'}
values = a_dict.values()
values

dict_values(['blue', 'apple', 'dog'])

In [250]:
for value in a_dict.values():
    print(value)

blue
apple
dog

### Sort by keys and values

In [251]:
incomes = {'apple': 5600.00, 'orange': 3500.00, 'banana': 5000.00}
for key in sorted(incomes):
    print(key, '->', incomes[key])

apple -> 5600.0
banana -> 5000.0
orange -> 3500.0

In [252]:
incomes = {'apple': 5600.00, 'orange': 3500.00, 'banana': 5000.00}
def by_value(item):
    return item[1]
for k, v in sorted(incomes.items(), key=by_value):
    print(k, '->', v)

orange -> 3500.0
banana -> 5000.0
apple -> 5600.0

In [253]:
incomes = {'apple': 5600.00, 'orange': 3500.00, 'banana': 5000.00}
for key in sorted(incomes, reverse=True):
    print(key, '->', incomes[key])

orange -> 3500.0
banana -> 5000.0
apple -> 5600.0

### Unpacking using ** operator

In [254]:
fruit_prices = {'apple': 0.40, 'orange': 0.35}
vegetable_prices = {'pepper': 0.20, 'onion': 0.55}
# How to use the unpacking operator **
print({**vegetable_prices, **fruit_prices})
# You can use this feature to iterate through multiple dictionaries
for k, v in {**vegetable_prices, **fruit_prices}.items():
    print(k, '->', v)

{'pepper': 0.2, 'onion': 0.55, 'apple': 0.4, 'orange': 0.35}
pepper -> 0.2
onion -> 0.55
apple -> 0.4
orange -> 0.35

In [3]:
print((x for i in range(5)))

<generator object <genexpr> at 0x7fd4a79fcdd0>

In [2]:
import calendar
calendar.weekheader(2)

'Mo Tu We Th Fr Sa Su'

In [4]:
b = bytearray(3)
b

bytearray(b'\x00\x00\x00')

In [5]:
type(b)

bytearray

In [6]:
for i in b:
    print(i)

0
0
0

In [8]:
for i in calendar.Calendar().iterweekdays():
    print(i)

0
1
2
3
4
5
6

In [12]:
from datetime import datetime
date1 =datetime(2020, 11, 27, 11,27,22)
date2 = datetime(2002, 10, 27, 00, 00, 00)
print(date1-date2)

6606 days, 11:27:22

In [14]:
for z in open("inputs/fileio1.txt", 'r'):
    print(z)

this is file for testing.

it contains some demo data.

it is not relevant at all.

In [15]:
print("c")
import numpy

c

In [16]:
print(__name__)

__main__

In [17]:
from datetime import datetime, timedelta  
  
ini_time_for_now = datetime.now()  
    
# printing initial_date  
print ("initial_date", str(ini_time_for_now))

initial_date 2022-01-20 23:38:37.180099

In [18]:
timedelta(days = 730)

datetime.timedelta(days=730)

In [19]:
timedelta(days = 730) *2

datetime.timedelta(days=1460)

In [22]:
dct ={"pi":3}
dct["pi"]=3.1

In [23]:
dct

{'pi': 3.1}

In [25]:
lambda x, y: x ** y