# TUPLE DATA STRUCTURE

In [1]:
t1=()
type(t1)

tuple

In [2]:
t2=(1,2,3)
t2

(1, 2, 3)

In [6]:
t3=1,"hello",3.4
t3

(1, 'hello', 3.4)

In [9]:
a,b,c=t3
print(a,b,c)

1 hello 3.4

In [10]:
#use comma at the end if u r creating a single tuple
t4=("hii",)
type(t4)

tuple

In [12]:
t5="krish",[1,2,3],(3,4,5)
print(t5[0][2],t5[1][1],t5[2][0])

i 2 3

In [21]:
t6=(5,1,2,3,4)
t6[-1]

4

In [17]:
(1,2,3)+(5,6,7)
#tuple addition

(1, 2, 3, 5, 6, 7)

In [19]:
t6.count(4)

1

In [22]:
t6.index(5)

0

In [24]:
for i in t6:
    print(i,end=" ")

5 1 2 3 4

In [25]:
len(t6)

5

In [3]:
a=[1,2,3,4,5]
t=tuple(a)
t

(1, 2, 3, 4, 5)

In [4]:
print(min(t), max(t))

1 5

In [5]:
print(any(t)) #all() true if all(any) value is true

True

In [6]:
print(sum(t))

15

In [9]:
s="jkbswrf"
print(tuple(s))
print(sorted(s))

('j', 'k', 'b', 's', 'w', 'r', 'f')
['b', 'f', 'j', 'k', 'r', 's', 'w']

In [37]:
values=1,2,3,4,5
a,b,*rst=values
print(a,b,rst)

1 2 [3, 4, 5]